#authForm {
  background-color: var(--element-bg-color);
  width: 672px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: var(--border-radius);
  padding: 32px 32px 22px 32px;
}

#authForm .cancel-button {
  width: 100%;
}

#authForm button {
  font-size: 28px;
  font-weight: 400;
}

#authForm .action-button {
  width: 100%;
}

.label-input-container {
  height: 49px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.big-input-wrapper {
  position: relative;
  height: 82px;
  border-radius: var(--border-radius);
  background-color: var(--element-color);
  display: flex;
  align-items: center;
}

.big-input {
  font-size: 28px;
  font-weight: 400;
  border-radius: var(--border-radius);
  color: var(--text-color);
  background-color: transparent;
  border: 0;
  text-align: center;
  width: 100%;
  height: 100%;
}

.big-input:focus {
  outline: none;
}

.big-input-wrapper:focus-within {
  outline: 2px solid var(--accent-color);

}

input:autofill {
  background-color: transparent;
}

.submit-cancel-wrapper {
  display: flex;
  flex-direction: row;
  gap: 18px;
  height: 82px;
}


#formTitle {
  text-align: center;
}

#switchAuthBtn {
  height: 82px;
}

.form-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#authError {
  font-size: 28px;
  font-weight: 400;
}

.password-eye {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

input::-ms-reveal {
  display: none;
}

.password-eye img {
  width: 30px;
  height: 30px;
}

.password-input {
  padding-right: 50px;
}