#authForm {
  background-color: var(--element-bg-color);
  width: 672px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: var(--border-radius);
  padding: 32px 32px 22px 32px;
}

#formTitle {
  text-align: center;
}

#switchAuthBtn {
  background-color: var(--accent-color-desaturated);
  height: 82px;
}

.form-overlay {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#authError {
  font-size: 28px;
  font-weight: 400;
}

.password-eye {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.password-eye img {
  width: 30px;
  height: 30px;
}

.password-input {
  padding-right: 50px;
}