:root {
  --bg-color: #F7F7F7;
  --element-bg-color: #ECECF2;
  --element-color: #C9CCD5;
  --accent-color: #5BB7D5;
  --accent-color-desaturated: #B4DBE8;
  --border-radius: 10px;

  font-family: 'Monsterrat', sans-serif;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}

.label-input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.big-input-wrapper {
  position: relative;
  height: 82px;
  border-radius: var(--border-radius);
  background-color: var(--element-color);
  display: flex;
  align-items: center;
}

.big-input {
  font-size: 28px;
  font-weight: 400;
  border-radius: var(--border-radius);
  background-color: transparent;
  border: 0;
  text-align: center;
  width: 100%;
  height: 100%;
}

.big-input:focus {
  outline: none;
}

.big-input-wrapper:focus-within {
  outline: 2px solid var(--accent-color);
  
}

.input-wrapper {
  height: 49px;
  background-color: var(--element-color);
  display: flex;
  align-items: center;
}

.small-input {
  background-color: transparent;
  border: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 28px;
  font-weight: 400;
}

.submit-cancel-wrapper {
  display: flex;
  flex-direction: row;
  gap: 18px;
  height: 82px;
}

button {
  border: 0;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 28px;
  font-weight: 400;
}

p {
  font-size: 28px;
  font-weight: 400;
}

.submit-button {
  background-color: var(--accent-color-desaturated);
  height: 100%;
  width: 100%;
}

.cancel-button {
  background-color: var(--accent-color);
  height: 100%;
  width: 100%;
}

.error {
  color: red;
}